.crew-content {
  transition: transform 0.5s ease;
}

.next {
  transform: translateX(0);
}

.prev {
  transform: translateX(0);
}

.crew-content.next {
  animation: slideInRight 0.5s forwards;
}

.crew-content.prev {
  animation: slideInLeft 0.5s forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
